<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
</head>
<body>
<div class="container">
    <div class="header">
        <a class="logo" href="{% url 'jobs:index' %}">find.jobs</a>
        <div class="items">
            <a href="{% url 'jobs:vacancies_list' 1 %}" class="nav-button">Vacancies</a>
            <a href="{% url 'jobs:jobs_list' 1 %}" class="nav-button">Jobs</a>
            <a href="{% url 'jobs:companies_list' 1 %}" class="nav-button">Companies</a>
            <a href="{% url 'jobs:blog_list' 1 %}" class="nav-button">Blog</a>
        </div>

        {% if user.is_anonymous %}
            <div class="login-reg">
                <a href="{% url 'account:register' %}" class="nav-button rectangle">Create a resume</a>
                <a href="{% url 'account:login' %}" class="nav-button">Login</a>
            </div>
        {% else %}
            <div class="login-reg">
                <a href="{% url 'account:profile_detail' user.username %}" class="nav-button rectangle">Profile</a>
                <a href="{% url 'account:logout' %}" class="nav-button">Logout</a>
            </div>
        {% endif %}
    </div>


    <div class="content">
        {% block before_content %}
        {% endblock %}


        <div class="wrapper">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>
