asgiref==3.7.2
bleach==6.1.0
certifi==2023.7.22
cfgv==3.4.0
charset-normalizer==3.3.2
distlib==0.3.7
Django==4.2.6
filelock==3.12.4
identify==2.5.30
idna==3.4
importlib-metadata==4.8.3
Markdown==3.3.7
martor==1.6.28
nodeenv==1.8.0
Pillow==10.1.0
platformdirs==3.11.0
pre-commit==3.5.0
psycopg2==2.9.9
python-dotenv==1.0.0
pytz==2023.3.post1
PyYAML==6.0.1
requests==2.31.0
six==1.16.0
slugify==0.0.1
sqlparse==0.4.4
tzdata==2023.3
urllib3==2.0.7
virtualenv==20.24.6
webencodings==0.5.1
zipp==3.17.0
