{% extends 'base.html' %}
{% load static %}


{% block header %}
{% endblock %}


{% block before_content %}
    {% include 'snippets/search_bar.html' %}
{% endblock %}


{% block content %}
    {% if not vacancies %}
        <div class="card bg-dark text-white border-info mb-3" style="max-width: 45%; margin: 20px auto;">
            <div class="card-body">
                <h5 class="card-title">There's no vacancies</h5>
            </div>
        </div>
    {% endif %}

    {% include 'snippets/vacancy_card.html' %}


{% endblock %}

{% block scripts %}
    <script src="{% static 'js/vacancies.js' %}"></script>
{% endblock %}
