{% extends 'base.html' %}
{% load martortags %}

{% block title %}
    {{ vacancy.title }}
{% endblock %}



{% block content %}
    <div class="container-fluid bg-dark text-white p-5 w-50 center">
        <h1 class="display-4 fw-light">{{ vacancy.title }}</h1>
        <p class="fs-2 fw-light">${{ vacancy.salary_min|floatformat:"0" }}
            — {{ vacancy.salary_max|floatformat:"0" }}</p>
        <p>{{ vacancy.published_at }}</p>
        {% if vacancy.possibilities %}
            <div class="d-flex flex-row mb-3">
                {% for possibility in vacancy.possibilities.all %}
                    <a class="me-2 text-decoration-none text-white rounded px-3 py-1"
                       style="background-color: {{ possibility.background_color }} !important; color: {{ possibility.text_color }} !important;"
                       href="{{ possibility.get_absolute_url }}">{{ possibility }}</a>
                {% endfor %}
            </div>
        {% endif %}
        <div class="border border-2 border-secondary p-3 rounded w-auto">
            <a href="{{ vacancy.company.get_absolute_url }}"
               class="fs-2 fw-bold text-decoration-none text-white mb-1 d-block">{{ vacancy.company }}</a>
            <p class="fs-4 fw-normal mb-1">{{ vacancy.company.location }}</p>
            <p class="fs-5 fw-light">{{ vacancy.company.description|truncatechars:100 }}</p>
        </div>
        <p class="fs-5 fw-light mt-3">{{ vacancy.description|safe_markdown }}</p>
    </div>
    {% if user.is_employer %}
        <div class="fixed-bottom text-center bg-dark p-4 d-flex justify-content-between w-50 mx-auto">
        <div class="fixed-bottom text-center bg-dark p-4 d-flex justify-content-between w-50 mx-auto border rounded-top-5 align-items-center">
            <a href="" class="btn btn-primary btn-lg py-3 px-5">Respond</a>
            {% if vacancy.title %}
                <a href="" class="btn btn-danger btn-lg py-3 px-5">Hide</a>
            {% else %}
                <a href="" class="btn btn-danger btn-lg py-3 px-5">Show</a>
            {% endif %}
            <a href="" class="btn btn-secondary btn-lg px-5 py-3">Call</a>
        </div>
    {% else %}
        <div class="fixed-bottom text-center bg-dark p-4 d-flex justify-content-between w-50 mx-auto border rounded-top-5 align-items-center">
            <a href="" class="btn btn-primary btn-lg py-3 px-5">Respond</a>
            <p class="text-light">This is a sample text</p>
            <a href="" class="btn btn-secondary btn-lg px-5 py-3">Call</a>
        </div>
    {% endif %}
    <div class="h-25"></div>
{% endblock %}
