<div class="row">
    <div class="col">
        <nav aria-label="breadcrumb" class="bg-secondary rounded-3 p-3 mb-4 text-light">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">
                    <button id="userProfile"
                            class="btn-link text-decoration-none text-light bg-secondary border-0">Profile
                    </button>
                </li>
                <li class="breadcrumb-item">
                    <button id="userSettings"
                            class="btn-link text-decoration-none text-light bg-secondary border-0">Settings
                    </button>
                </li>
                <li class="breadcrumb-item">
                    <button id="userEducation"
                            class="btn-link text-decoration-none text-light bg-secondary border-0">Education
                    </button>
                </li>
                <li class="breadcrumb-item">
                    <button id="userSecurity"
                            class="btn-link text-decoration-none text-light bg-secondary border-0">Security
                    </button>
                </li>
                <li class="breadcrumb-item">
                    <button id="userResume"
                            class="btn-link text-decoration-none text-light bg-secondary border-0">Set Resume
                    </button>
                </li>
            </ol>
        </nav>
    </div>
</div>
