{% load static %}
{% load humanize %}
{% for vacancy in vacancies %}
    <div class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="card bg-dark text-white border-info mb-3"
         style="max-width: 45%; margin: 20px auto;" id="{{ vacancy.id }}">
        <div class="card-header d-flex justify-content-between align-items-center">
            <a href="{{ vacancy.get_absolute_url }}" class="text-decoration-none text-white">{{ vacancy.title }}</a>

            {% if vacancy.published_at|timesince:now|first|slice:":-1" %}
                <span class="badge bg-info">New</span>
            {% endif %}

            <button class="btn" onclick="handleToggleFavoriteVacancy(event);">
                {% if vacancy in user.favorite_jobs.all %}
                    <img alt="filled" class="vacancy-favorite" src="{% static 'icons/star_filled.png' %}"
                         style="width: 40px; height: 40px; pointer-events: none;"/>
                {% else %}
                    <img alt="hollow" class="vacancy-favorite" src="{% static 'icons/star.png' %}"
                         style="width: 40px; height: 40px; pointer-events: none;"/>
                {% endif %}
            </button>
        </div>
        <div class="card-body">
            <h5 class="card-title">${{ vacancy.salary_min|floatformat:"0"|intcomma }} —
                ${{ vacancy.salary_max|floatformat:"0"|intcomma }}
            </h5>
            <div class="d-flex flex-wrap mb-3">
                {% for possibility in vacancy.possibilities.all %}
                    <a href="{{ possibility.get_absolute_url }}" class="btn text-white me-2"
                       style="background-color: {{ possibility.background_color }} !important; color: {{ possibility.text_color }} !important;">{{ possibility.name }}</a>
                {% endfor %}
            </div>
            <p class="card-text">{{ vacancy.description|truncatechars:50 }}</p>
            <p class="card-text"><span class="text-white" style="font-size: 1.2em;">{{ vacancy.company }}</span></p>
            <p class="card-text">
            <span
                    style="display: inline-block; width: 10px; height: 10px; background-color: yellow; border-radius: 50%; margin-right: 5px;"></span>
                {{ vacancy.location }}
            </p>
        </div>
        <div class="card-footer d-flex justify-content-between">
            <a href="/vacancy/respond/{{ vacancy.id }}" class="btn btn-primary">Respond</a>
            <a href="" class="btn btn-secondary">Call</a>
        </div>
    </div>
{% endfor %}
