<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
</head>
<body>
    <div class="login-container">
        <form class="login" method="post">
            <a class="go-back" href="{% url 'jobs:index' %}">Go Back</a>
            {% csrf_token %}
            <p class="loginp">Login</p>
            <p class="info">Email or phone number</p>
            <input type="email" name="email" class="textbox">
            <p class="info">Password</p>
            <input type="password" name="password" class="textbox">
            <a class="forgot-password" href="#">Forgot password?</a>
            <input class="login-btn" type="submit" value="Log In">
        </form>
    </div>
</body>
</html>
